* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    border: 1px solid black;
}
header>.preenche{
    position: absolute;
    left: 0;
    width: 0;
    height:9.8vh;
    background-color: rgb(77, 255, 0);
    z-index: ;
}
header>h1{
    font-weight: bold;
    font-size: 50pt;
}
header:hover{
    background-color: aqua;

}

.formata {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    height: 70vh;
    border: 1px solid black;
    flex-wrap: wrap;
}
/* clicar e arrastar o acionador ao card para mostrar o projeto */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 30vh;
    border: 1px solid black;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBj8zrpNOysu1oo1wQj0erxF2sgblu7sffK4wDlv4hVQ&s");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
}
.card>p{
    transform: rotate(-27deg);
    font-weight: bold;
    font-size: 50pt;
    opacity: 99;
}
.card:hover{
    border: 2px dotted blue;
}