* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER */

header {

    display: flex;
    width: 60vw;
    height: 20vh;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0px 0px 0px 6px;
}

.espaco1 {
    margin: 5px 0px 0px 10px;
    width: 50px;
    height: 5px;
    background-color: blue;
}

header>nav>ul {
    display: flex;

}

header>nav>ul>li {
    padding: 0px 10px;
    margin: 10px 10px 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.493);
    border-radius: 5px;
}

header>nav>ul>li:hover {
    background-color: gray;
    color: aliceblue;
    border: none;
}

header>nav>img {
    width: 90px;
    height: 80px;
    border-radius: 40px;
    padding: 0px 5px 0px 0px;
}
main{
    height: 60vh;
    width: 80%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}